In [1]:
#provisional concept from
#https://thecleverprogrammer.com/2021/02/13/hotel-recommendation-system-with-machine-learning/

In [2]:
import pandas as pd
import numpy as np

In [3]:
url= "https://ralston-hotel-data-bucket.s3.amazonaws.com/Hotel_Reviews_Clean.csv"

In [4]:
hotel_df = pd.read_csv(url)

In [5]:
hotel_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands,Negative
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands,Positive
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Netherlands,Positive
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Netherlands,Negative
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-24,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Netherlands,Positive

In [6]:
#create random sample of original dataset - 5% sample
hotel_sample_df = hotel_df.sample(frac=.05)

In [7]:
hotel_sample_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
470920,473576,Via Domenico Scarlatti 24 Central Station 2012...,106,2016-11-04,8.3,Andreola Central Hotel,Canada,The hotel screwed up the booking through this...,40,1135,Elegant hotel with old Italian style close to...,25,41,7.5,"[' Business trip ', ' Solo traveler ', ' Doubl...",272 day,45.483652,9.207858,Italy,Positive
471292,473948,Via Fabio Filzi 25 B Central Station 20124 Mil...,224,2016-05-28,8.6,UNA Hotel Century,Romania,No Negative,0,2351,Nice hotel clean spacious and quiet room The ...,30,3,9.6,"[' Leisure trip ', ' Couple ', ' Junior Suite ...",432 day,45.484137,9.200162,Italy,Positive
132179,132271,29 31 rue des Ecoles 5th arr 75005 Paris France,90,2015-10-20,8.7,Hotel Atmospheres,Australia,No Negative,0,654,Great location close to everything without th...,9,2,10.0,"[' Leisure trip ', ' Couple ', ' Standard Doub...",653 day,48.848539,2.347985,France,Positive
83524,83524,199 206 High Holborn Camden London WC1V 7BD UK,421,2016-10-25,9.2,The Hoxton Holborn,United Kingdom,No Negative,0,1740,Lovely quirky buzzy atmosphere with all that ...,25,5,10.0,"[' Leisure trip ', ' Couple ', ' Double Room '...",282 day,51.517240,-0.122032,UK,Positive
56955,56955,150 Bayswater Road Kensington and Chelsea Lond...,459,2016-05-29,8.4,DoubleTree by Hilton London Hyde Park,United Kingdom,Orange juice ran out at breakfast Needs Amarr...,13,2405,Lovely outdoor seating with heat lamps Very c...,11,1,9.2,"[' Leisure trip ', ' Group ', ' Twin Room ', '...",431 day,51.510036,-0.190657,UK,Positive

In [8]:
from ast import literal_eval

In [9]:
def impute(column):
    column = column[0]
    if (type(column) != list):
        return "".join(literal_eval(column))
    else:
        return column
    
hotel_sample_df["Tags"] = hotel_sample_df[["Tags"]].apply(impute, axis=1)
hotel_sample_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
470920,473576,Via Domenico Scarlatti 24 Central Station 2012...,106,2016-11-04,8.3,Andreola Central Hotel,Canada,The hotel screwed up the booking through this...,40,1135,Elegant hotel with old Italian style close to...,25,41,7.5,Business trip Solo traveler Double or Twin ...,272 day,45.483652,9.207858,Italy,Positive
471292,473948,Via Fabio Filzi 25 B Central Station 20124 Mil...,224,2016-05-28,8.6,UNA Hotel Century,Romania,No Negative,0,2351,Nice hotel clean spacious and quiet room The ...,30,3,9.6,Leisure trip Couple Junior Suite Stayed 2 ...,432 day,45.484137,9.200162,Italy,Positive
132179,132271,29 31 rue des Ecoles 5th arr 75005 Paris France,90,2015-10-20,8.7,Hotel Atmospheres,Australia,No Negative,0,654,Great location close to everything without th...,9,2,10.0,Leisure trip Couple Standard Double Room S...,653 day,48.848539,2.347985,France,Positive
83524,83524,199 206 High Holborn Camden London WC1V 7BD UK,421,2016-10-25,9.2,The Hoxton Holborn,United Kingdom,No Negative,0,1740,Lovely quirky buzzy atmosphere with all that ...,25,5,10.0,Leisure trip Couple Double Room Stayed 1 n...,282 day,51.517240,-0.122032,UK,Positive
56955,56955,150 Bayswater Road Kensington and Chelsea Lond...,459,2016-05-29,8.4,DoubleTree by Hilton London Hyde Park,United Kingdom,Orange juice ran out at breakfast Needs Amarr...,13,2405,Lovely outdoor seating with heat lamps Very c...,11,1,9.2,Leisure trip Group Twin Room Stayed 1 nigh...,431 day,51.510036,-0.190657,UK,Positive

In [10]:
hotel_sample_df['Hotel_Country'] = hotel_sample_df['Hotel_Country'].str.lower()
hotel_sample_df['Tags'] = hotel_sample_df['Tags'].str.lower()

In [11]:
import nltk
nltk.download('wordnet')
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\neil.ralston.MAC\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
def recommend_hotel(location, description):
    description = description.lower()
    word_tokenize(description)
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered  = {word for word in description if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
        
    country = hotel_sample_df[hotel_sample_df["Hotel_Country"]==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Hotel_Country"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
                temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
    country['similarity']=cos
    country = country.sort_values(by='similarity', ascending=False)
    country.drop_duplicates(subset='Hotel_Name', keep='first', inplace=True)
    country.sort_values('Average_Score', ascending=False, inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address"]].head()

In [13]:
recommend_hotel('UK', 'pool')

,Hotel_Name,Average_Score,Hotel_Address
0,41,9.6,41 Buckingham Palace Road Westminster Borough ...
1,Haymarket Hotel,9.6,1 Suffolk Place Westminster Borough London SW1...
2,Ham Yard Hotel,9.5,One Ham Yard Westminster Borough London W1D 7D...
3,Milestone Hotel Kensington,9.5,1 Kensington Court Kensington and Chelsea Lond...
4,Charlotte Street Hotel,9.5,15 17 Charlotte Street Hotel Westminster Borou...

In [14]:
#finds hotels by country, not making recommendations based on description

In [15]:
#country only
def hotel_country(location):
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered  = {word for word in location if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
       
    country = hotel_sample_df[hotel_sample_df["Hotel_Country"]==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Hotel_Country"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
                temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
    country['similarity']=cos
    country = country.sort_values(by='similarity', ascending=False)
    country.drop_duplicates(subset='Hotel_Name', keep='first', inplace=True)
    country.sort_values('Average_Score', ascending=False, inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address", "Positive_Review", "Negative_Review", "lat", "lng"]].head()

In [16]:
hotel_country('France')

,Hotel_Name,Average_Score,Hotel_Address,Positive_Review,Negative_Review,lat,lng
0,Ritz Paris,9.8,15 Place Vend me 1st arr 75001 Paris France,Bed was fantastic Service impeccable very fri...,Breakfast is a bit expensive,48.867947,2.328959
1,H tel de La Tamise Esprit de France,9.6,4 rue d Alger 1st arr 75001 Paris France,The service was great,No Negative,48.864866,2.329576
2,Hotel The Peninsula Paris,9.5,19 avenue Kleber 16th arr 75116 Paris France,This hotel meets the highest level of service...,No Negative,48.871060,2.293354
3,Le Narcisse Blanc Spa,9.5,19 Boulevard De La Tour Maubourg 7th arr 75007...,very comfortable hotel highly recommend it,No Negative,48.860512,2.310653
4,Hotel Monge,9.4,55 rue Monge 5th arr 75005 Paris France,good location great staff nice room we got up...,No Negative,48.844794,2.352446